// Tamaño de la tarjeta de partido en directo: 557x313. Esta debe ser la proporción
// Además, parece, según puede verse en cosas_varias/directo, que se ven tres partidos en pantalla, asíq ue imagino que ocupan un tercio, con un padding.
$slideWidth: calc(100% / 3);

.directo-container {

    .superior-directo {
        // background-color:red;
        display: flex;
        margin-bottom: 5px;
        padding: 0 40px;

        .titulo-directo {
            font-size: 24px;
        }

        .mostrar-todo-directo {
            font-size: 12px;
            margin-top: auto;
            margin-left: auto;
        }
    }

    .slide-partido {
        width: $slideWidth;
        // height: fit-content;
        // background-color: red;

        img {
            max-width: 100%;
            border-radius: 15px;
        }
    }
}