.new-main-container {
    height: calc(90vh - $menuHeight); //vh --> virtual height, unidad relativa de medida. Es el 80 de la pantalla

    display: flex;
    flex-flow: row;

    .left-container {
        width: 25%;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-flow: column;

        .left-content {
            margin: auto;
            text-align: center;

            h3 {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -moz-box-orient: vertical;
                overflow: hidden;
                color: white;
                font-size: 2.25rem;
                font-weight: 500;
                margin-bottom: 16px;
                padding: 0 15px;
                // line-height: 16px; Esto es lo que estuvo molestando con el texto mezclado
            }

            p {
                color: white;
                font-size: 18px;
                padding-bottom: 32px;
            }

            a {
                background-color: rgb(10,132,255);
                padding: 8px 48px;
                border-radius: 30px;
                font-size: 16px;
                color: white;
                text-decoration: none;
            }
        }
    }

    .right-container {
        width: 75%;

        // &>div {
        //     width: fit-content;
        // }

        // img {
        //     max-width: 500px;
        // }

        // ul {
        //     width: fit-content;
        // }
        
        // li {
        //     width: 200px;
        // }

        #News-Splide {
            .splide__splide {
                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    z-index: 9;
                }
            }

            .splide__slide {
                width: auto;
                height: 100%;
            }
        }
    }
}