.partido {
    background-color: white;
    border-radius: .5rem;
    width: 420px;
    height: 176px;
    // padding: 5px;
    padding: 12px 16px 0px;

    .superior-partido {

        // TODO: terminar de ajustar los tamaños para que el título no descuadre todo y se muestren puntos suspensivos si no cabe (lo que hay en .titulo-partido va por buen camino)

        display: flex;
        font-size: 10px;
        color: #505B73;
        // gap:10px;

        .titulo-partido {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .fecha-partido {
            margin-left: auto;
            min-width: fit-content;
        }
    }

    .centro-partido {
        display: flex;

        .equipos-partido {
            margin-right: auto;

            .equipo {
                display: flex;
                margin-top: 15px;
                font-size: 12px;

                img {
                    max-width: 24px;
                    margin-right: 8px;
                }
            }
        }

        .hora-partido {
            // background-color: blue;
            // margin-left: auto;
            margin: auto 0 auto 0;
            font-size: 16px;
        }
    }
}